#box1 {
    height: 30px;
    width: 1867px;
    border-radius: 10px;
    background-color: rgb(255, 115, 0);
    border: 7.5px solid rgb(255, 174, 0);
    display: block;
    padding: 10px;
    box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.67);
    -webkit-box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.67);
  }

#box2 {
    height: 870px;
    width: 1867px;
    margin-top: 14px;
    border-radius: 10px;
    background-color: rgb(255, 115, 0);
    border: 7.5px solid rgb(255, 174, 0);
    display: block;
    padding: 10px;
    box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.67);
    -webkit-box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 5px 8px -1px rgba(0,0,0,0.67);
  }

  #box3 {
    margin-left: 77%;
    margin-top: 45%;
    height: 5px;
    width: 430px;
    border-radius: 10px;
    display: block;
    padding: 10px;
  }

#credits {
    font: message-box;
    font-size: larger;
    color: rgb(255, 255, 209);
    margin-left: 28%;
}

#where {
    font: message-box;
    font-size: large;
    color: rgb(255, 255, 209);
}